.parent{
    width: 600px;
    background-color: rgb(160, 230, 22);
    padding: 1rem;
}

.input{
    display: flex;
    gap:1rem;
}

.input div{
    display: flex;
}

.child{
    width: 570px;
    background-color: orangered;
    padding: 0.5rem;
    margin: 0.5rem;
}